C:\Users\Owner\Desktop\LaunchCode\html-me-something

<!DOCTYPE html>
<html>
<head>
<style>
.center {
    margin: auto;
    width: 25%;
    border: 3px solid #73AD21;
    padding: 10px;
}
</style>

<meta charset="UTF-8">
<title>The Blogz : Keep your Blogs Here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/html-me-something/style.css">
</head>

<body>
<header> <h1>The Blogz : Keep your Blogs Here</h1></br></br>
<audio src= controls>
Error: your web browser does not support this audio player.
</audio>
<div class="center">
      <img position: relative; src="images/happy child 2.jpg"width=300 height=200
       alt ="A child showing inner joy"></div></br>

<p>

</html>
